Repository sbhattlab/phylo2vec: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cargo-fmt

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: Github

cargo-fmt:
  name: fmt
  language: rust
  stages:
  - pre-commit
  - pre-push
  - manual
  entry: cargo fmt
  pass_filenames: false

chore(r): rename built R packages before uploading artefacts (#118)
  .github/workflows/cd-r.yaml
Due: disallow-caps

chore(rust): update rand to 0.9.2 + has_integer_labels (#110)
  Cargo.lock
  phylo2vec/src/matrix/base.rs
  phylo2vec/src/newick/mod.rs
  phylo2vec/src/newick/newick_patterns.rs
  phylo2vec/src/vector/base.rs
Due: disallow-caps, cargo-fmt

feat: add more versatile newick processing
  phylo2vec/src/newick/mod.rs
  phylo2vec/src/newick/newick_patterns.rs
  py-phylo2vec/phylo2vec/io/reader.py
  py-phylo2vec/src/lib.rs
  py-phylo2vec/tests/config.py
  py-phylo2vec/tests/test_io.py
  r-phylo2vec/NAMESPACE
  r-phylo2vec/R/extendr-wrappers.R
  r-phylo2vec/R/io.R
  r-phylo2vec/man/load_newick.Rd
  r-phylo2vec/man/process_newick.Rd
  r-phylo2vec/src/rust/src/lib.rs
  r-phylo2vec/tests/testthat/test_io.R
Due: disallow-caps, cargo-fmt

feat(python): add load_newick to cli
  py-phylo2vec/phylo2vec/cli.py
Due: disallow-caps

fix(python): use print vs. pprint to pass tests
  py-phylo2vec/phylo2vec/cli.py
  py-phylo2vec/tests/test_cli.py
Due: disallow-caps

docs(paper): clarify paragraphs in paper + add compilation guidelines
  joss/README.md
  joss/jats/paper.jats
  joss/paper.bib
  joss/paper.md
  joss/paper.pdf
  joss/src/wordcount.rb
Due: none

fix(ci): add rustfmt install for rust 1.90
  .github/workflows/ci-rust.yaml
Due: disallow-caps

fix(ci): add rustfmt install for rust 1.90 (#124)
  .github/workflows/ci-rust.yaml
Due: disallow-caps

Update joss/src/wordcount.rb
  joss/src/wordcount.rb
Due: none

docs(paper): clarify paragraphs in paper + add compilation guidelines (#122)
  joss/README.md
  joss/jats/paper.jats
  joss/paper.bib
  joss/paper.md
  joss/paper.pdf
  joss/src/wordcount.rb
Due: none

docs(readme): add small subsection in README for reporting issues
  README.md
Due: disallow-caps

docs(readme): fix url for pulls
  README.md
Due: disallow-caps

fix(docs): fix copilots quirks
  README.md
Due: disallow-caps

docs(readme): add small subsection in README for reporting issues (#125)
  README.md
Due: disallow-caps

docs(paper): move fig2 from joss to demo
  docs/demo.ipynb
  docs/img/fig2.png
  joss/fig2.pdf
  joss/jats/fig2.pdf
  joss/jats/paper.jats
  joss/paper.md
  joss/paper.pdf
Due: disallow-caps

docs(paper): move fig2 from joss to demo (#127)
  docs/demo.ipynb
  docs/img/fig2.png
  joss/fig2.pdf
  joss/jats/fig2.pdf
  joss/jats/paper.jats
  joss/paper.md
  joss/paper.pdf
Due: disallow-caps

docs(paper): update author list
  joss/jats/paper.jats
  joss/paper.md
  joss/paper.pdf
Due: none

docs(paper): update author list (#128)
  joss/jats/paper.jats
  joss/paper.md
  joss/paper.pdf
Due: none

docs(data): add download links for each dataset + data section in readme
  README.md
  py-phylo2vec/phylo2vec/datasets/descr/fluA.md
  py-phylo2vec/phylo2vec/datasets/descr/h3n2.md
  py-phylo2vec/phylo2vec/datasets/descr/m501.md
  py-phylo2vec/phylo2vec/datasets/descr/yeast.md
  py-phylo2vec/phylo2vec/datasets/descr/zika.md
Due: disallow-caps

docs(data): add download links for each dataset + data section in readme (#130)
  README.md
  py-phylo2vec/phylo2vec/datasets/descr/fluA.md
  py-phylo2vec/phylo2vec/datasets/descr/h3n2.md
  py-phylo2vec/phylo2vec/datasets/descr/m501.md
  py-phylo2vec/phylo2vec/datasets/descr/yeast.md
  py-phylo2vec/phylo2vec/datasets/descr/zika.md
Due: disallow-caps

data(py): add alignment loading for penn2023 datasets + tests + docs
  .gitignore
  README.md
  py-phylo2vec/phylo2vec/datasets/__init__.py
  py-phylo2vec/phylo2vec/datasets/_base.py
  py-phylo2vec/phylo2vec/datasets/descr/fluA.md
  py-phylo2vec/phylo2vec/datasets/descr/h3n2.md
  py-phylo2vec/phylo2vec/datasets/descr/m501.md
  py-phylo2vec/phylo2vec/datasets/descr/yeast.md
  py-phylo2vec/phylo2vec/datasets/descr/zika.md
  py-phylo2vec/tests/test_datasets.py
Due: disallow-caps

Doc data (#131)
  .gitignore
  README.md
  py-phylo2vec/phylo2vec/datasets/__init__.py
  py-phylo2vec/phylo2vec/datasets/_base.py
  py-phylo2vec/phylo2vec/datasets/descr/fluA.md
  py-phylo2vec/phylo2vec/datasets/descr/h3n2.md
  py-phylo2vec/phylo2vec/datasets/descr/m501.md
  py-phylo2vec/phylo2vec/datasets/descr/yeast.md
  py-phylo2vec/phylo2vec/datasets/descr/zika.md
  py-phylo2vec/tests/test_datasets.py
Due: disallow-caps

chore: bump versions for next release
  Cargo.lock
  README.md
  phylo2vec/Cargo.toml
  pixi.toml
  py-phylo2vec/Cargo.toml
  r-phylo2vec/DESCRIPTION
Due: disallow-caps

chore: bump versions for next release (#132)
  Cargo.lock
  README.md
  phylo2vec/Cargo.toml
  pixi.toml
  py-phylo2vec/Cargo.toml
  r-phylo2vec/DESCRIPTION
Due: disallow-caps

test(rs): add more edge-case tests
  phylo2vec/src/matrix/convert.rs
  phylo2vec/src/matrix/graph.rs
  phylo2vec/src/newick/mod.rs
  phylo2vec/src/vector/ops.rs
Due: disallow-caps, cargo-fmt

test(rs): add more edge-case tests (#133)
  phylo2vec/src/matrix/convert.rs
  phylo2vec/src/matrix/graph.rs
  phylo2vec/src/newick/mod.rs
  phylo2vec/src/vector/ops.rs
Due: disallow-caps, cargo-fmt

docs(paper): check + add missing ORCID
  joss/README.md
  joss/jats/paper.jats
  joss/paper.md
  joss/paper.pdf
Due: none

docs(paper): check + add missing ORCID (#134)
  joss/README.md
  joss/jats/paper.jats
  joss/paper.md
  joss/paper.pdf
Due: none

docs: update citations + format middle names
  CITATION.cff
  README.md
  joss/jats/paper.jats
  joss/paper.md
  joss/paper.pdf
Due: disallow-caps

docs: update citations + format middle names (#135)
  CITATION.cff
  README.md
  joss/jats/paper.jats
  joss/paper.md
  joss/paper.pdf
Due: disallow-caps

docs(paper): minor edits
  joss/jats/paper.jats
  joss/paper.bib
  joss/paper.md
  joss/paper.pdf
Due: none

docs(paper): make author names match ORCID
  CITATION.cff
  joss/paper.md
Due: disallow-caps

docs(paper): update pdf
  joss/jats/paper.jats
  joss/paper.pdf
Due: none

docs(paper): update penn2024 citation
  joss/jats/paper.jats
  joss/paper.md
  joss/paper.pdf
Due: none

docs(paper): update pdf
  joss/jats/paper.jats
  joss/paper.bib
  joss/paper.pdf
Due: none

docs(paper): editorial suggestions (#138)
  CITATION.cff
  joss/jats/paper.jats
  joss/paper.bib
  joss/paper.md
  joss/paper.pdf
Due: disallow-caps

docs(paper): more editorial fixes
  joss/jats/paper.jats
  joss/paper.bib
  joss/paper.md
  joss/paper.pdf
Due: none

docs(paper): more editorial fixes (#139)
  joss/jats/paper.jats
  joss/paper.bib
  joss/paper.md
  joss/paper.pdf
Due: none

docs(paper): add missing issues and page numbers
  joss/jats/paper.jats
  joss/paper.bib
  joss/paper.pdf
Due: none

docs(paper): add missing issues and page numbers (#140)
  joss/jats/paper.jats
  joss/paper.bib
  joss/paper.pdf
Due: none

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: (^.pixi/|.snap|^joss/)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap|^joss/)
