Repository sbhattlab/phylo2vec: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cargo-fmt

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: Github

cargo-fmt:
  name: fmt
  language: rust
  stages:
  - pre-commit
  - pre-push
  - manual
  entry: cargo fmt
  pass_filenames: false

docs(paper): fix some BE typos + oxford commas
  joss/jats/paper.jats
  joss/paper.md
  joss/paper.pdf
Due: none

docs(paper): fix some BE typos + oxford commas (#141)
  joss/jats/paper.jats
  joss/paper.md
  joss/paper.pdf
Due: none

docs(paper): fix author names in ola paper
  joss/jats/paper.jats
  joss/paper.bib
  joss/paper.pdf
Due: none

docs(paper): fix author names in ola paper (#142)
  joss/jats/paper.jats
  joss/paper.bib
  joss/paper.pdf
Due: none

chore: update min. rust version to 1.82
  pixi.lock
  pixi.toml
Due: disallow-caps

chore: update min. rust version to 1.82 (#143)
  pixi.lock
  pixi.toml
Due: disallow-caps

chore(py): allow numpy<2.3
  py-phylo2vec/pyproject.toml
Due: disallow-caps

chore(py): allow numpy<2.3 (#144)
  py-phylo2vec/pyproject.toml
Due: disallow-caps

feat(rs): use ryu float-to-string conversion
  Cargo.lock
  phylo2vec/Cargo.toml
  phylo2vec/src/matrix/convert.rs
  py-phylo2vec/tests/test_cli.py
Due: disallow-caps, cargo-fmt

feat(rs): use ryu float-to-string conversion (#145)
  Cargo.lock
  phylo2vec/Cargo.toml
  phylo2vec/src/matrix/convert.rs
  py-phylo2vec/tests/test_cli.py
Due: disallow-caps, cargo-fmt

chore(rs): update profiling and benchmarking scripts
  phylo2vec/benches/benchmarks/core.rs
  phylo2vec/src/profile_main.rs
Due: disallow-caps, cargo-fmt

chore(rs): pass dtype as arg1 in profiling
  phylo2vec/src/profile_main.rs
  pixi.toml
Due: disallow-caps, cargo-fmt

chore(rs): make profile comamnd default + update profiling docs
  docs/development.md
  pixi.toml
Due: disallow-caps

chore(rs): update profiling and benchmarking scripts (#146)
  docs/development.md
  phylo2vec/benches/benchmarks/core.rs
  phylo2vec/src/profile_main.rs
  pixi.toml
Due: disallow-caps, cargo-fmt

docs(paper): update fig1 to match submitted version
  joss/fig1.pdf
  joss/jats/fig1.pdf
  joss/paper.pdf
Due: none

docs(paper): update fig1 to match submitted version (#147)
  joss/fig1.pdf
  joss/jats/fig1.pdf
  joss/paper.pdf
Due: none

fix(rs): make remove_branch_lengts work with sci floats
  phylo2vec/src/newick/mod.rs
  phylo2vec/src/newick/newick_patterns.rs
Due: disallow-caps, cargo-fmt

fix(rs): make remove_branch_lengts work with sci floats (#148)
  phylo2vec/src/newick/mod.rs
  phylo2vec/src/newick/newick_patterns.rs
Due: disallow-caps, cargo-fmt

test(py): add more util tests + cover more edge cases
  py-phylo2vec/phylo2vec/cli.py
  py-phylo2vec/phylo2vec/utils/vector.py
  py-phylo2vec/tests/test_base.py
  py-phylo2vec/tests/test_cli.py
  py-phylo2vec/tests/test_io.py
  py-phylo2vec/tests/test_stats.py
  py-phylo2vec/tests/test_utils.py
Due: disallow-caps

test(py): group edge case IO tests
  py-phylo2vec/tests/test_io.py
Due: disallow-caps

test(py): add more util tests + cover more edge cases (#149)
  py-phylo2vec/phylo2vec/cli.py
  py-phylo2vec/phylo2vec/utils/vector.py
  py-phylo2vec/tests/test_base.py
  py-phylo2vec/tests/test_cli.py
  py-phylo2vec/tests/test_io.py
  py-phylo2vec/tests/test_stats.py
  py-phylo2vec/tests/test_utils.py
Due: disallow-caps

test(rs): add roundtrip test for vector to newick
  phylo2vec/src/vector/convert.rs
Due: disallow-caps, cargo-fmt

test(rs): add roundtrip test for vector to newick (#151)
  phylo2vec/src/vector/convert.rs
Due: disallow-caps, cargo-fmt

feat(r): add find_num_leaves in R
  r-phylo2vec/NAMESPACE
  r-phylo2vec/R/extendr-wrappers.R
  r-phylo2vec/man/find_num_leaves.Rd
  r-phylo2vec/src/rust/src/lib.rs
Due: disallow-caps, cargo-fmt

feat(r): add find_num_leaves in R (#152)
  r-phylo2vec/NAMESPACE
  r-phylo2vec/R/extendr-wrappers.R
  r-phylo2vec/man/find_num_leaves.Rd
  r-phylo2vec/src/rust/src/lib.rs
Due: disallow-caps, cargo-fmt

test(rs): add edge case k = 0 for graph fns
  phylo2vec/src/vector/graph.rs
Due: disallow-caps, cargo-fmt

fix(rs): adjust edge case for coph
  phylo2vec/src/vector/graph.rs
Due: disallow-caps, cargo-fmt

Edge cases graph rs (#154)
  phylo2vec/src/vector/graph.rs
Due: disallow-caps, cargo-fmt

test(r): increase R test coverage
  py-phylo2vec/tests/config.py
  r-phylo2vec/R/base_newick.R
  r-phylo2vec/R/io.R
  r-phylo2vec/R/stats.R
  r-phylo2vec/tests/testthat/config.R
  r-phylo2vec/tests/testthat/test_base.R
  r-phylo2vec/tests/testthat/test_io.R
  r-phylo2vec/tests/testthat/test_stats.R
  r-phylo2vec/tests/testthat/test_utils.R
Due: disallow-caps

docs: add documentation about code coverage
  docs/development.md
Due: disallow-caps

test(r): increase R test coverage (#155)
  docs/development.md
  py-phylo2vec/tests/config.py
  r-phylo2vec/R/base_newick.R
  r-phylo2vec/R/io.R
  r-phylo2vec/R/stats.R
  r-phylo2vec/tests/testthat/config.R
  r-phylo2vec/tests/testthat/test_base.R
  r-phylo2vec/tests/testthat/test_io.R
  r-phylo2vec/tests/testthat/test_stats.R
  r-phylo2vec/tests/testthat/test_utils.R
Due: disallow-caps

doc(r): add some extra doc for newick utils
  r-phylo2vec/DESCRIPTION
  r-phylo2vec/R/extendr-wrappers.R
  r-phylo2vec/man/apply_label_mapping.Rd
  r-phylo2vec/man/create_label_mapping.Rd
  r-phylo2vec/man/find_num_leaves.Rd
  r-phylo2vec/man/has_branch_lengths.Rd
  r-phylo2vec/man/remove_branch_lengths.Rd
  r-phylo2vec/man/remove_parent_labels.Rd
  r-phylo2vec/src/rust/src/lib.rs
Due: disallow-caps, cargo-fmt

docs(r): add some extra docs in Newick utils (#156)
  docs/development.md
  r-phylo2vec/DESCRIPTION
  r-phylo2vec/R/extendr-wrappers.R
  r-phylo2vec/man/apply_label_mapping.Rd
  r-phylo2vec/man/create_label_mapping.Rd
  r-phylo2vec/man/find_num_leaves.Rd
  r-phylo2vec/man/has_branch_lengths.Rd
  r-phylo2vec/man/remove_branch_lengths.Rd
  r-phylo2vec/man/remove_parent_labels.Rd
  r-phylo2vec/src/rust/src/lib.rs
Due: disallow-caps, cargo-fmt

docs(rs): fix copilot comments
  r-phylo2vec/R/extendr-wrappers.R
  r-phylo2vec/man/from_ancestry.Rd
  r-phylo2vec/man/from_edges.Rd
  r-phylo2vec/man/from_pairs.Rd
  r-phylo2vec/man/sample_matrix.Rd
  r-phylo2vec/man/to_ancestry.Rd
  r-phylo2vec/man/to_edges.Rd
  r-phylo2vec/man/to_pairs.Rd
  r-phylo2vec/src/rust/src/lib.rs
Due: disallow-caps, cargo-fmt

docs: update doi and citation after joss publication
  CITATION.cff
  README.md
Due: disallow-caps

docs: update doi and citation after joss publication (#159)
  CITATION.cff
  README.md
Due: disallow-caps

Bump version in pixi.toml from 1.5.0 to 1.6.0
  pixi.toml
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: (^.pixi/|.snap|^joss/)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap|^joss/)
