Repository sbhattlab/phylo2vec: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cargo-fmt

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: Github

cargo-fmt:
  name: fmt
  language: rust
  stages:
  - pre-commit
  - pre-push
  - manual
  entry: cargo fmt
  pass_filenames: false

feat: O(n) order_cherries using parental indices
  phylo2vec/src/vector/convert.rs
Due: disallow-caps, cargo-fmt

feat: O(n) order_cherries using parental indices (#94)
  phylo2vec/src/vector/convert.rs
Due: disallow-caps, cargo-fmt

refactor: handle n_leaves edge cases for sampling
  py-phylo2vec/phylo2vec/utils/matrix.py
  py-phylo2vec/phylo2vec/utils/vector.py
  py-phylo2vec/src/lib.rs
  py-phylo2vec/tests/test_utils.py
  r-phylo2vec/src/rust/src/lib.rs
Due: disallow-caps, cargo-fmt

refactor: handle n_leaves edge cases for sampling (#95)
  py-phylo2vec/phylo2vec/utils/matrix.py
  py-phylo2vec/phylo2vec/utils/vector.py
  py-phylo2vec/src/lib.rs
  py-phylo2vec/tests/test_utils.py
  r-phylo2vec/src/rust/src/lib.rs
Due: disallow-caps, cargo-fmt

feat: add a simple CLI for the python API
  README.md
  py-phylo2vec/phylo2vec/cli.py
  py-phylo2vec/phylo2vec/io/reader.py
  py-phylo2vec/phylo2vec/io/writer.py
  py-phylo2vec/tests/test_cli.py
Due: disallow-caps

refactor(cli): update pyproject.toml
  py-phylo2vec/pyproject.toml
Due: disallow-caps

refactor(cli): remove unused deps from tests
  py-phylo2vec/tests/test_cli.py
Due: disallow-caps

feat: re-add 'unrooted' argument to cophenetic distances
  phylo2vec/src/matrix/graph.rs
  phylo2vec/src/vector/graph.rs
  py-phylo2vec/phylo2vec/stats/nodewise.py
  py-phylo2vec/src/lib.rs
  py-phylo2vec/tests/test_stats.py
  r-phylo2vec/R/extendr-wrappers.R
  r-phylo2vec/R/stats.R
  r-phylo2vec/man/cophenetic_from_matrix.Rd
  r-phylo2vec/man/cophenetic_from_vector.Rd
  r-phylo2vec/src/rust/src/lib.rs
Due: disallow-caps, cargo-fmt

feat: add a simple CLI for the python API (#96)
  README.md
  py-phylo2vec/phylo2vec/cli.py
  py-phylo2vec/phylo2vec/io/reader.py
  py-phylo2vec/phylo2vec/io/writer.py
  py-phylo2vec/pyproject.toml
  py-phylo2vec/tests/test_cli.py
Due: disallow-caps

feat: re-add 'unrooted' argument to cophenetic distances (#98)
  phylo2vec/src/matrix/graph.rs
  phylo2vec/src/vector/graph.rs
  py-phylo2vec/phylo2vec/stats/nodewise.py
  py-phylo2vec/src/lib.rs
  py-phylo2vec/tests/test_stats.py
  r-phylo2vec/R/extendr-wrappers.R
  r-phylo2vec/R/stats.R
  r-phylo2vec/man/cophenetic_from_matrix.Rd
  r-phylo2vec/man/cophenetic_from_vector.Rd
  r-phylo2vec/src/rust/src/lib.rs
Due: disallow-caps, cargo-fmt

chore: bump versions + cleaning
  Cargo.lock
  phylo2vec/Cargo.toml
  pixi.toml
  py-phylo2vec/phylo2vec/stats/nodewise.py
  r-phylo2vec/DESCRIPTION
  r-phylo2vec/R/stats.R
  r-phylo2vec/man/cophenetic_distances.Rd
  r-phylo2vec/src/rust/Cargo.toml
Due: disallow-caps

chore: bump versions + cleaning (#99)
  Cargo.lock
  phylo2vec/Cargo.toml
  pixi.toml
  py-phylo2vec/phylo2vec/stats/nodewise.py
  r-phylo2vec/DESCRIPTION
  r-phylo2vec/R/stats.R
  r-phylo2vec/man/cophenetic_distances.Rd
  r-phylo2vec/src/rust/Cargo.toml
Due: disallow-caps

fix: fix sections in demo + typo
  docs/demo.ipynb
Due: disallow-caps

chore: reduce word count in joss submission
  joss/paper.bib
  joss/paper.md
  joss/paper.pdf
Due: none

chore: reduce word count in joss submission (#105)
  joss/paper.bib
  joss/paper.md
  joss/paper.pdf
Due: none

fix: fix sections in demo + typo (#104)
  docs/demo.ipynb
Due: disallow-caps

feat(r): add remove_branch_lengths and remove_parent_labels to R interface
  r-phylo2vec/NAMESPACE
  r-phylo2vec/R/extendr-wrappers.R
  r-phylo2vec/man/remove_branch_lengths.Rd
  r-phylo2vec/man/remove_parent_labels.Rd
  r-phylo2vec/src/rust/src/lib.rs
Due: disallow-caps, cargo-fmt

feat(r): add remove_branch_lengths and remove_parent_labels to R interface (#106)
  r-phylo2vec/NAMESPACE
  r-phylo2vec/R/extendr-wrappers.R
  r-phylo2vec/man/remove_branch_lengths.Rd
  r-phylo2vec/man/remove_parent_labels.Rd
  r-phylo2vec/src/rust/src/lib.rs
Due: disallow-caps, cargo-fmt

refactor: update ete3 --> ete4
  py-phylo2vec/phylo2vec/utils/vector.py
  py-phylo2vec/pyproject.toml
  py-phylo2vec/tests/test_base.py
  py-phylo2vec/tests/test_io.py
  py-phylo2vec/tests/test_stats.py
  py-phylo2vec/tests/test_utils.py
Due: disallow-caps

refactor: update ete3 --> ete4
  docs/demo.ipynb
  docs/demo_opt.ipynb
  py-phylo2vec/phylo2vec/opt/_gradme.py
  py-phylo2vec/phylo2vec/opt/utils.py
  py-phylo2vec/phylo2vec/utils/vector.py
  py-phylo2vec/pyproject.toml
  py-phylo2vec/tests/test_base.py
  py-phylo2vec/tests/test_io.py
  py-phylo2vec/tests/test_stats.py
  py-phylo2vec/tests/test_utils.py
Due: disallow-caps

fix: remove duplicate ete4 dependency
  py-phylo2vec/phylo2vec/utils/vector.py
Due: disallow-caps

refactor: rename ete3 to ete4 in markdown cells of the demo
  docs/demo.ipynb
Due: disallow-caps

fix: add libcrypt to python deps
  pixi.lock
  pixi.toml
  py-phylo2vec/pyproject.toml
Due: disallow-caps

feat: add py313 to ci
  .github/workflows/ci-python.yml
Due: disallow-caps

Update ete3 to ete4 + add support for Python 3.13 (#108)
  .github/workflows/ci-python.yml
  docs/demo.ipynb
  docs/demo_opt.ipynb
  pixi.lock
  pixi.toml
  py-phylo2vec/phylo2vec/opt/_gradme.py
  py-phylo2vec/phylo2vec/opt/utils.py
  py-phylo2vec/phylo2vec/utils/vector.py
  py-phylo2vec/pyproject.toml
  py-phylo2vec/tests/test_base.py
  py-phylo2vec/tests/test_io.py
  py-phylo2vec/tests/test_stats.py
  py-phylo2vec/tests/test_utils.py
Due: disallow-caps

docs(paper): update paper jats
  joss/jats/paper.jats
Due: none

docs(paper): update paper jats (#109)
  joss/jats/paper.jats
Due: none

chore(rs): update rand to 0.9.2
  Cargo.lock
  phylo2vec/src/matrix/base.rs
  phylo2vec/src/newick/mod.rs
  phylo2vec/src/vector/base.rs
Due: disallow-caps, cargo-fmt

fix: add missing update to newick_patterns
  phylo2vec/src/newick/newick_patterns.rs
Due: disallow-caps, cargo-fmt

Update README.md
  README.md
Due: disallow-caps

fix(docs): fix broken readme link + add more contrib guidelines
  CONTRIBUTING.md
  README.md
  docs/CONTRIBUTING.md
  docs/_toc.yml
  docs/api.rst
  docs/development.md
  docs/installation.md
Due: disallow-caps

Add quotes to pip install with opt for Mac (#112)
  README.md
Due: disallow-caps

docs: finalize CONTRIBUTING pr steps
  CONTRIBUTING.md
Due: disallow-caps

docs: add links to CoC and README in Contributing; add LICENSE link to README
  CONTRIBUTING.md
  README.md
Due: disallow-caps

docs: Update contributing guidelines and API reference (#116)
  CONTRIBUTING.md
  README.md
  docs/CONTRIBUTING.md
  docs/_toc.yml
  docs/api.rst
  docs/development.md
  docs/installation.md
Due: disallow-caps

chore: update R CD to add OSs in release names
  .github/workflows/cd-r.yaml
Due: disallow-caps

chore: update mv command for win R package
  .github/workflows/cd-r.yaml
Due: disallow-caps

chore: update R CD to add OSs in release names (#117)
  .github/workflows/cd-r.yaml
Due: disallow-caps

chore(r): rename built R packages before uploading
  .github/workflows/cd-r.yaml
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: (^.pixi/|.snap|^joss/)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap|^joss/)
